<article
  class="flex h-full flex-col items-center justify-center px-6 sm:px-16 md:px-48 lg:px-80"
>
  <section
    class="card flex h-fit w-full flex-col justify-center gap-8 bg-black/40 p-24 sm:flex-row sm:gap-40"
  >
    <div class="sm:photo flex w-full sm:max-w-md">
      <img
        class="border-[6px] border-primary object-cover sm:border-secondary"
        src="./assets/images/intramuros.jpg"
      />
    </div>
    <div class="flex flex-col justify-center sm:max-w-md">
      <h2 class="title mb-10 flex w-fit text-primary sm:text-2xl">About me</h2>
      <p>
        I almost have 8 years of experience in building, maintaining, and
        enhancing websites.
      </p>
      <p>
        My expertise lies in JavaScript, HTML, and CSS, and I am well-versed in
        working within an agile environment.
      </p>
      <p>
        Currently, I am looking to expand my skills and expertise in developing
        mobile applications and the Internet of Things.
      </p>
      <p>I'm based in Colombia.</p>
    </div>
  </section>
</article>
