@import 'mixins';
@tailwind utilities;

.card {
  @include medium-shadow($shadow-main-color);
}


@layer utilities {
  .photo {
    position: relative;
    z-index: 0;

    &:before {
      content: "";
      position: absolute;
      top: 32px;
      left: -32px;
      height: 100%;
      width: 100%;
      z-index: -1;
      border: 6px solid theme("colors.primary");
      transition: all ease 0.3s;
    }
  }
}
