<section class="lg:px-60 md:px-48 sm:px-12 px-6 flex-col content-center h-full">
  <p>
    I almost have 8 years of experience in building, maintaining, and enhancing
    websites.
  </p>
  <p>
    My expertise lies in JavaScript, HTML, and CSS, and I am well-versed in
    working within an agile environment.
  </p>
  <p>
    Currently, I am looking to expand my skills and expertise in developing
    mobile applications and the Internet of Things.
  </p>
  <p>I'm based in Colombia.</p>
</section>
