.nav-option {
  cursor: pointer;
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    transition: all 0.5s ease;
  }

  &:hover::after {
    width: 100%;
    height: 1px;
    background-color: theme("colors.secondary");
  }
}

.nav-action-icon {
  cursor: pointer;
  position: absolute;
  left: -0.25rem;
  top: 0.15rem;
  height: 100%;
  transition: all 0.5s ease;
}

.side-menu {
  max-width: calc(100vw - 90px);
}
