<article class="card rounded-md bg-white/10 pt-16 sm:px-8 sm:py-24">
  <h2 class="title ml-8 flex w-fit text-2xl text-primary sm:ml-16 lg:text-3xl">My work</h2>
  <ul class="mt-[4.5rem] md:mt-10 lg:mt-20 lg:flex lg:flex-col lg:gap-28 xl:mt-28">
    @for (myWork of myWorks; track $index) {
      <li class="card-item group flex flex-col-reverse md:grid md:grid-cols-12 md:grid-rows-1 md:items-center">
        <div class="card-text z-10 rounded-sm bg-main/90 md:z-auto md:bg-transparent md:group-even:text-end">
          <h2 class="px-6 pt-8 text-xl font-bold text-[#F5B003] md:px-2 md:pb-4 md:text-2xl">{{ myWork.name }}</h2>
          <p class="card relative z-10 p-6 md:bg-main/90">
            {{ myWork.description }}
          </p>
          <div class="flex flex-col gap-5 px-6 pb-5 md:px-2 md:pt-5">
            <ul
              class="flex flex-wrap gap-x-6 gap-y-2 text-xs md:group-odd:pr-16 md:group-even:justify-end md:group-even:pl-16">
              @for (technology of myWork.technologies; track $index) {
                <li class="z-10">{{ technology }}</li>
              }
            </ul>
            <ul class="flex gap-4 md:group-even:justify-end">
              @for (link of myWork.links; track $index) {
                <li>
                  <a [href]="link.url" target="_blank">
                    <img
                      class="h-5 transition-all hover:scale-125"
                      [src]="'/assets/icons/' + link.icon"
                      [alt]="link.icon" />
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>
        <a class="card card-img content-end" [href]="myWork.url" target="_blank">
          <img
            class="rounded-sm object-cover grayscale transition-all duration-300 hover:scale-110 hover:grayscale-0"
            [src]="'./assets/images/' + myWork.image"
            [alt]="'website ' + myWork.image" />
        </a>
      </li>
    }
  </ul>
</article>
