@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(#ffff, 0.3);
}

@font-face {
  font-family: "SourceCodePro";
  src: url(../assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

body {
  font-family: "SourceCodePro";
}

@layer components {
  .btn-primary {
    -webkit-transition: 0.3s all ease;
    border: 1px solid theme("colors.primary");
    border-radius: 0.25rem;
    color: theme("colors.primary");
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 1rem;
    position: relative;
    text-decoration: none;
    transition: 0.3s all ease;

    &:before {
      -webkit-transition: 0.5s all ease;
      background-color: theme("colors.primary");
      bottom: 0;
      content: "";
      left: 50%;
      opacity: 0;
      position: absolute;
      right: 50%;
      top: 0;
      transition: 0.5s all ease;
      z-index: -1;
    }
    &:hover,
    &:focus {
      color: theme("colors.main");

      &:before {
        -webkit-transition: 0.5s all ease;
        left: 0;
        opacity: 1;
        right: 0;
        transition: 0.5s all ease;
      }
    }
  }

  .title {
    position: relative;
  
    &:after {
      content: "";
      background-color: theme("colors.primary");
      height: 4px;
      width: 50%;
      position: absolute;
      left: 0;
      bottom: -8px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
