<section class="lg:px-60 md:px-48 sm:px-12 px-6 flex-col content-center h-full">
  <h1>Hi, <span class="text-primary">I'm Daniel Rodríguez</span></h1>
  <p>An Angular FrontEnd developer with a great passion for coding. I almost have 8 years of experience in building,
    maintaining, and enhancing websites.
  <p>My expertise lies in JavaScript, HTML, and CSS, and I am well-versed in working within an agile environment.</p>
  <p>Currently, I am looking to expand my skills and expertise in developing mobile applications and the Internet of
    Things.</p>
</section>