<aside class="hidden fixed h-screen items-center sm:flex">
  <app-social-media-banner
    class="group vertical bg-main rounded-xl ml-2 shadow-[0px_0px_10px_1px] shadow-primary p-3 lg:p-4"
  ></app-social-media-banner>
</aside>
<section [id]="section.home" class="h-screen flex justify-center">
  <app-star-canvas class="size-full absolute -z-10"></app-star-canvas>
  <div
    class="h-full relative flex flex-col gap-16 justify-center text-center mx-16 sm:mx-32"
  >
    <div class="text-2xl sm:text-4xl">
      <h1 class="mb-6">
        Hi, I'm
        <span class="text-primary text-3xl sm:text-5xl">Daniel Rodríguez</span>
      </h1>
      <p class="text-xl sm:text-3xl">
        An Angular FrontEnd developer with a great passion for coding.
      </p>
    </div>
    <div>
      <a (click)="goToAboutSection()" class="btn-primary">About me</a>
    </div>
    <div class="absolute bottom-4 w-full">
      <app-social-media-banner
        class="flex mx-auto rounded-xl shadow-[0px_0px_10px_1px] shadow-primary p-3 w-fit sm:hidden"
      ></app-social-media-banner>
    </div>
  </div>
</section>
<section [id]="section.about" class="h-screen bg-secondary">
  <app-about></app-about>
</section>
<section [id]="section.experience" class="h-screen">
  <app-experience></app-experience>
</section>
<section [id]="section.work" class="h-screen"><app-work></app-work></section>
<section [id]="section.contact" class="h-screen">
  <app-contact></app-contact>
</section>
