.animate-fade-up {
  opacity: 0;
  animation: slide-up 500ms ease-in, fade-in 800ms ease-in;
  animation-fill-mode: forwards;
  animation-delay: 600ms;

  &-delay-1 {
    animation-delay: 1000ms;
  }

  &-delay-2 {
    animation-delay: 1500ms;
  }
}

.animate-fade-in {
  animation-delay: 600ms;
}

.section {
  @apply h-fit flex justify-center;

  & > * {
    @apply flex size-full max-w-[1240px] flex-col items-center justify-center gap-20 p-6 sm:p-16 md:p-20;
  }
}