<article class="card min-w-[600px] rounded-md bg-white/10 px-8 py-24">
  <h2 class="title ml-16 flex w-fit text-2xl text-primary lg:text-3xl">Where I've Worked</h2>
  <ul class="timeline mt-32 grid list-none grid-cols-[1fr_4rem_1fr] gap-x-1">
    @for (workExperience of workExperiences; track $index) {
      <li class="timeline-item group/timeline flex h-fit min-h-52 items-start gap-6 py-4 odd:flex-row-reverse">
        <div
          class="company-logo group/company-logo flex size-20 cursor-pointer items-center rounded bg-black/30 p-3"
          (click)="toogleWorkExperience(workExperience, workExperienceDetail, $event)"
          (mouseenter)="toogleWorkExperience(workExperience, workExperienceDetail, $event)"
          (mouseleave)="toogleWorkExperience(workExperience, workExperienceDetail, $event)">
          <img
            class="h-fit transition-all duration-300 group-hover/company-logo:scale-[1.2] group-hover/company-logo:saturate-200"
            [src]="'/assets/images/' + workExperience.img"
            [alt]="workExperience.img" />
        </div>
        <div class="flex w-full max-w-[450px] flex-col group-odd/timeline:text-end group-even/timeline:text-start">
          <h2 class="text-2xl font-bold text-[#F5B003]">
            <span
              class="cursor-pointer transition-all hover:font-black"
              [appTimelineItemDetail]="workExperience"
              [elemToApplyStyle]="workExperienceDetail">
              {{ workExperience.startDate }}
            </span>
          </h2>
          <h3 class="text-primary contrast-[0.6]">
            <span
              class="cursor-pointer transition-all hover:font-bold"
              [appTimelineItemDetail]="workExperience"
              [elemToApplyStyle]="workExperienceDetail">
              {{ workExperience.jobTitle }}
            </span>
          </h3>
          <h3 class="text-primary contrast-[0.6]">
            <span
              class="cursor-pointer transition-all hover:font-bold"
              [appTimelineItemDetail]="workExperience"
              [elemToApplyStyle]="workExperienceDetail">
              at {{ workExperience.company }}
            </span>
          </h3>
          <ol
            #workExperienceDetail
            class="mt-4 flex max-h-0 list-inside list-disc flex-col gap-3 overflow-hidden transition-[max-height] duration-700 marker:text-primary">
            @for (activity of workExperience.activities; track $index) {
              <li>{{ activity }}</li>
            }
          </ol>
        </div>
      </li>
    }
  </ul>
</article>
